# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**

- List popular languages for Data Science.
- Some commonly used libraries in Data Science.
- Creating tables in Markdown.
- Provide examples of evaluating arithmetic expressions in Python.

Some of the popular languages that Data Scientists use are:

1. Python
2. SQL
3. R

Some of the commonly used libraries used by Data Scientists include:

1. NumPy
2. pandas
3. scikit-learn

| Data Science Tools   |
|---------------------|
| Jupyter Notebook     |
| RStudio              |
| Visual Studio Code   |

## Below are a few examples of evaluating arithmetic expressions in Python:

1. **Addition:**
```python
result = 1 + 2
print(result)

2. **Devision:**
```python
result = 1 / 2
print(result)

3. **Substraction:**
```python
result = 1 - 2
print(result)

4. **Multiplication:**
```python
result = 1 * 2
print(result)

In [9]:
# This a simple arithmetic expression to mutiply then add integers
(3*4)+5

17

In [5]:
#This will convert 200 minutes to hours by diving by 60
200/60

3.3333333333333335

## Author

Zakaria T.